html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #239DAA;
  background: linear-gradient(to left, #239DAA , #B7DEE3);
}

#root {
  width: 95%;
  margin: 20px auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div {
  height: 100%;
}

.content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.result {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.result-content {
  width: 80%;
}

.saved-page-button {
  color: red;
}

.nav-button {
  background-color: rgba(255,0,0,0);
  border: none;
  height: 30px;
  width: 60px;
}

ul {
  list-style: none;
}

button.save {
  display: none;
}

div.result:hover button.save{
  display: inline;
  height: 25px;
  width: 50px;
  background-color: #68DF91;
  color: white;
  border: none;
  border-radius: 2px;
}

form {
  width: 100%;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

input[type=text]:focus {
  box-shadow: 0 0 5px #78D4AE;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #78D4AE;
}
