html {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #239DAA;
  background: linear-gradient(to left, #239DAA , #B7DEE3);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

#root {
  width: 95%;
  margin: 20px auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saved-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 70px;
  border-radius: 5px;
}

.active {
  background-color: #69B1BA;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 1.5em;
}

div {
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.result {
  display: flex;
  min-height: 31px;
  margin: 30px auto;
  justify-content: space-between;
}

.result-content {
  width: 80%;
}

.search {
  width: 95%;
  margin: auto;

}

.saved-heading {
  font-weight: 100;
}

hr {
  border: solid 1px black;
  width: 65%;
}

.word {
  font-weight: 100;
  text-transform: capitalize;
}

span.type {
  font-weight: bold;
}


.save {
  display: inline;
  height: 30px;
  width: 60px;
  background-color: #68DF91;
  color: white;
  border: none;
  border-radius: 2px;
}



/*div.result:hover button.save{
  display: inline;
  height: 30px;
  width: 60px;
  background-color: #68DF91;
  color: white;
  border: none;
  border-radius: 2px;
}*/

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

input[type=text]:focus {
  box-shadow: 0 0 5px #78D4AE;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #78D4AE;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;
}

:-ms-input-placeholder {
   color: black;
}
