@media screen and (min-width: 501px) {

  form {
    margin-top: 50px;
  }
  .search {
    width: 70%;
    margin: auto;
  }

  .definitions {
    width: 75%;
  }

  .saved-heading {
    font-size: 1.6em;
  }

  .word {
    font-size: 1.25em;
  }

  .submit {
    margin-left: -9999px;
  }

  button.save {
    display: none;
  }

  div.result:hover button.save{
    display: inline;
    height: 30px;
    width: 60px;
    background-color: #68DF91;
    color: white;
    border: none;
    border-radius: 2px;
  }
}
